<div class="dashboard-sidebar color-white">
    <ul>
        <li class="border-b"><a href="{{ routes.account_url }}" class="color-white">Dashboard</a></li>
        <li class="border-b"><a href="#" class="color-white">Orders</a></li>
        <li class="border-b"><a href="{{ routes.account_addresses_url }}" class="color-white">Address</a></li>
        <li class="border-b"><a href="#" class="color-white">Account Details</a></li>
        <li class="border-b"><a href="#" class="color-white">Payment Methods</a></li>
        <li class="border-b"><a href="{{ routes.account_logout_url }}" class="color-white">Log Out</a></li>
    </ul>
</div>