{% assign selected_collection = collections[ section.settings.selected_collection ] %}
{% assign prodcuct_limit = section.settings.prodcuct_limit %}

<!-- Best Seller Starts -->
<section id="best-seller" class="py-10">
    <div class="container mx-auto px-3 xl:px-0">
        <div
        class="grid-header flex-col flex md:flex-row justify-between border-b border-b-black-20 py-4 md:pb-7"
        >
        {% assign sort_by = collection.sort_by | default: collection.default_sort_by %}
        <div class="grid-header_left flex gap-5">
            <h3>Best Seller</h3>
        </div>
        <div class="grid-header_right">
            <select id="home-sort-by" class="border p-2 lg:py-2 lg:px-3 border-gray-600">
                {% for option in collections.all.sort_options %}
                    <option value="{{ option.value }}" {% if option.value == sort_by %}selected="selected"{% endif %}>
                        {{ option.name }}
                    </option>
                {% endfor %}
            </select>
        </div>
        </div>
        
        <div id="best-seller_grid">
            <div class="grid-products grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-x-4 gap-y-10 pt-16">
                {% for product in collections.all.products limit: 4 %}
                    {% render 'product-card', product_item: product %}
                {% endfor %}
            </div>
        </div>
        

        <div class="feauted-cat-bottom text-center mt-20">
        <div
            class="f-load-more-btn border border-black inline-block py-6 px-11 uppercase"
        >
            <h5>Load More</h5>
        </div>
        </div>
    </div>
</section>
<!-- Best Seller Ends -->

{% schema %}
    {
        "name" : "Best Seller",
        "settings": [
          {
            "type": "collection",
            "id": "selected_collection",
            "label": "Select Collection"
          },
          {
            "type": "range",
            "id": "prodcuct_limit",
            "label": "Numbers of product to show",
            "default": 4,
            "min": 2,
            "max": 12,
            "step": 1
          }
        ],
        "presets": [
            {
                "name": "Best Seller"
            }
        ]

    }
  {% endschema %}