<footer class="pt-20 border-t">
      <div class="container mx-auto px-3 xl:px-0">
        <div
          class="footer-content-wrapper pb-24 grid gap-16 grid-cols-1 justify-between md:grid-cols-2 lg:grid-cols-5"
        >
          <div class="footer-col">
            <img src="assets/img/Company_Logo.svg" alt="" />
            <div class="icon-lists-wrapper mt-12">
              <div class="icon-list-item flex gap-3 items-center">
                <i class="fa-solid fa-location-dot"></i>
                <p>123 Main Street Chicago, IL 60601 United States</p>
              </div>

              <div class="icon-list-item flex gap-3 items-center">
                <i class="fa-solid fa-phone"></i>
                <p>+1 (312) 555-1234</p>
              </div>

              <div class="icon-list-item flex gap-3 items-center">
                <i class="fa-solid fa-envelope"></i>
                <p>hello@sportzystore.com</p>
              </div>
            </div>
          </div>

          <div class="footer-col">
            <h4>Company</h4>
            <ul
              class="footer-menu-items footer-menu-items mt-5 flex flex-col gap-3"
            >
              <li>About Us</li>
              <li>Testimonials</li>
              <li>Products</li>
              <li>Terms & Condition</li>
              <li>Latest Update</li>
            </ul>
          </div>

          <div class="footer-col">
            <h4>Account</h4>
            <ul
              class="footer-menu-items footer-menu-items mt-5 flex flex-col gap-3"
            >
              <li>About Us</li>
              <li>Testimonials</li>
              <li>Products</li>
              <li>Terms & Condition</li>
              <li>Latest Update</li>
            </ul>
          </div>

          <div class="footer-col">
            <h4>Support</h4>
            <ul class="footer-menu-items mt-5 flex flex-col gap-3">
              <li>About Us</li>
              <li>Testimonials</li>
              <li>Products</li>
              <li>Terms & Condition</li>
              <li>Latest Update</li>
            </ul>
          </div>

          <div class="footer-col">
            <h4>Newsletter</h4>
            <div class="newsletter-box mt-5 flex">
              <input
                type="text"
                placeholder="Enter your email address ..."
                class="w-11/12 py-5 px-8 border border-black"
              />
              <button type="submit" class="submit-btn px-8 py-4">
                <i class="fa-solid fa-arrow-right-long"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="footer-below py-8">
        <div class="container mx-auto px-3 xl:px-0">
          <ul class="flex gap-5 footer-below_links">
            <li>Privacy Policy</li>
            <li>Terms & Condition</li>
            <li>Sitemap</li>
          </ul>
        </div>
      </div>
    </footer>